@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

html{
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
  color: white;
}

body {
  height: auto;
  margin: 0;
  background-color: #0f1014;
  color: white;
}

h1 {
  font-size: 3.5em;
}

p {
  font-size: 1.5em;
}