@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

html{
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
  color: white;
}

body {
  height: 165vh;
  margin: 0;
  background-color: #0f1014;
  color: white;
}

h1 {
  font-size: 3.5em;
}

p {
  font-size: 1.5em;
}

section {
  width: 100%;
  height: 25vh;
}

select {
  text-align: center;
  width: 10em;
  height: 2em;
  font-size: 1em;
  border-radius: 1em;
  background-color: white;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
  transition: 1s;
}

select:hover {
  background-color: #0f1014;
  outline-color: white;
  color: white;
  transition: 1s;
}

button {
  text-align: center;
  width: 5em;
  height: 2em;
  font-size: 1em;
  border-radius: 1em;
  background-color: white;
  font-family: 'Raleway', sans-serif;
  outline-width: 0.5em;
  outline-color: #0f1014;
  cursor: pointer;
  transition: 1s;
}

button:hover {
  background-color: #0f1014;
  outline-color: white;
  color: white;
  transition: 1s;
}

#title {
  margin-top: 40vh;
}

#selection {
  margin-top: 35vh;
}

.custom-select {
  margin-top: 1.25em;
}

#btn {
  margin-top: 1em;
} 

hr {
  margin-top: 35vh;
}

#result {
  margin-top: 2em;
  font-size: 2.5em;
}

label {
  font-size: 2em;
}

/*dots*/
#dots {
  margin-top: 4em;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 5em;
}

#dots:hover {
  cursor: pointer;
}

#dots:hover #d1{
  background-color: white;
}

#dots:hover #d2{
  background-color: white;
}

#dots:hover #d3{
  background-color: white;
}

#d1 {
  transition: 1s;
}

#d2 {
  transition: 2s;
}

#d3 {
  transition: 3s;
}

.dot {
  height: 0.75em;
  width: 0.75em;
  background-color: #0f1014;
  border-radius: 50%;
  border: 2px solid #ffff;
  transition: 2s;
}

.centered {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}